* {
  margin: 0;
  padding: 0;
}

#ant {
  font-size: 3px;
}

h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  margin-bottom: 10;
  padding: 20px;
  background-clip: content-box;
  box-shadow: inset 0 0 0 15px navy;
  background: powderblue;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#leftlist h4 {
  padding: 20px;
  width: 100px;
  text-align: center;
  padding-left: 0px;
}
#leftlist {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding-left: 30px;
  padding-right: 20px;
}

.wrapper {
  position: relative;
}

.game-text {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 50px;
}
.game-text > button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: salmon;
  border: none;
  cursor: pointer;
}

.score {
  text-align: center;
  font-size: 36px;
  margin-bottom: 2rem;
}
ul {
  list-style: none;
}

.playground > ul {
  border: 1px solid #333;
  width: 250px;
  margin: 0 auto;
}

.playground > ul > li {
  width: 100%;
  height: 25px;
}

.playground > ul > li > ul {
  display: flex;
}

.playground > ul > li > ul > li {
  width: 25px;
  height: 25px;
  outline: 1px solid #ccc;
}
.square {
  background: #2c82c9;
}
.bar {
  background: salmon;
}
.tree {
  background: #67c23a;
}
.zee {
  background: #e6a23c;
}
.elLeft {
  background: #8e44ad;
}
.elRight {
  background: #16a085;
}
